@use "./colorPallets" as cp;
@use "./fonts" as f;
@use "./headerSection";
@use "./messages";
@use "./mainSection";



@import "~bootstrap/scss/bootstrap";

body {
    background-color: cp.$bodyBackgroundColor;
    font-family: f.$font;
    color: cp.$basicFontColor;
}